    /* Styles for Jane Doette"s Portfolio



**** Fonts ***

Oswald: Main header font
Roboto:  Used for paragraphs


**** Color Palette ***
#02b3e4: Iris Blue | Used for Logo
#2d3c49: Dark Green | Used for Text
#7d97ad: Saturated Blue | Used for borders and hyperlinks


**** Table of Contents ****

- Base Styles
- Header
    - Logo
    - Name & Title
- Main
    - Jumbotron
    - Featured Projects
- Footer


*/


/*-------FONTS---------*/

@font-face {
	font-family: "Black Jack";
	src: url("../font/BlackJack.eot");
	src: url("../font/BlackJack.eot?#iefix") format("embedded-opentype"),
		url("../font/BlackJack.woff2") format("woff2"),
		url("../font/BlackJack.woff") format("woff"),
		url("../font/BlackJack.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}


/*-------BASE STYLES---------*/

body {
    font-family: "Roboto", sans-serif;
}

h1 {
		color: #2d3c49;
		font-family: "Oswald", sans-serif;
    font-size: 5em;
}
h2 {
		color: #7d97ad;
		padding-left: .5em;
}

h3 {
		color: #7d97ad;
		font-family: "Oswald", sans-serif;
    font-size: 2.5em;
}

h4 {
		color: #2d3c49;
		font-family: "Oswald", sans-serif;
		font-size: 2em;
		padding: 0 1em;
}

a {
    color: #7d97ad;
    text-decoration: none;
}

a:hover, .fa:hover {
  color: #02b3e4;
  text-decoration: none;
}

/*-------HEADER--------*/

header {
    padding: 2em 3em 0 3em;
}

header img {
	max-width: 100%;
}

/*-------MAIN CONTENT--------*/
main {
    border-top: solid 1px #7d97ad;
}

.jumbotron {
    background-image: url('../../dest/img/code-display-image-large.jpg');
    background-size: cover;
    margin-top: 3.25em;
    min-height: 15em;
}

.featured-work {
    padding-bottom: 3em;
}

.featured-work img {
    cursor: pointer;
    margin-top: 2em;
}

/*-------FOOTER--------*/
footer .container {
    border-top: solid 1px #7d97ad;
    padding: 3em;
}

footer p {
    font-size: 1em;
    padding-top: 1em;
}

.lh-brand {
  font-family: "Black Jack", cursive;
  text-transform: lowercase;
}

footer .fa {
    color: #7d97ad;
    padding: .25em;
}

footer .fa-heart {
    padding: 0;
}
